.subscribe {
  margin-left: 93px;

  &-form {
    position: absolute;
    display: flex;
  }

  &-input {
    display: flex;
    width: 358px;
    height: 50px;
    margin-top: 20px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: $section-bgc;
  }

  &-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $header-bgc;
  }
}

.btn-subscribe {
  display: inline-flex;
  position: relative;
  margin-top: 38px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: $hero-text;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: $accent-color;

  &:hover {
    cursor: pointer;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
}

.btn-text-subscribe {
  margin-left: 29px;
  margin-right: 10px;
}
