.menu-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-bottom: 0;
  margin-block-start: 0em;
  padding: 0;
}

.menu .item + .item {
  padding-left: 50px;
}

.menu-contact .item + .item {
  margin-left: 50px;
}

.item.mail,
.item.tel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  color: $text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
  letter-spacing: 0.02em;
}

.link:hover .icon-mail,
.link:hover .icon-phone {
  fill: $accent-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
